* {
  height: 100%;
}

.row {
  height: 200px;

}

.test {
  background-color: blue;
  border: white solid 2px;
}

.test1 {
  background-color: red;
  border: white solid 2px;
}

.test2 {
  background-color: #424242;
  border: white solid 2px;
}